/*FIX ALL THE STUFF BELOW*/
body {
  background-color:rgb(24, 42, 69);
  /*background-color: rgb(20, 17, 40);  Old Dark Purple Background for All*/
  }
h1 {
  text-align: center;
  color:rgb(24, 42, 69);
  /* color: rgb(70, 104, 133); */
  font-family: 'Impact';
  font-size: 350%;
}
header {
  position: relative;
  /*background-color: #f8f8f8; Adjust your header background color */
  padding: 10px 20px; /* Optional: Adjust for header spacing */
}
.header {
  background-color: rgb(31, 19, 43);
  padding-top: 1rem;
}

.nav-button {
  position: fixed; /* Adjust position to align left or as needed */
  top: 10px; 
  left: 10px;
  z-index: 1100; /* Keep it above kks */
}
.navbuttonBox{
  padding-bottom: 3%;
}

  
  /*OLD OLD STUFF BUT STILL KINDA WORKS*/
        
  .header {
    background-color: rgb(207, 163, 234);
    padding-top: 1rem;
  }
  /* Profile Image in Header */
#me_block{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#me {
  border: 2px solid rgb(207, 163, 234);
  display: block;
  margin: auto;
  width: 150px;
}

/* Navigation Links */
.nav-item {
  text-align: center;
}
.nav-link {
  display: flex; /* Flexbox for horizontal alignment */
  align-items: center; /* Center icons and text vertically */
    /*gap: 0; /* Add space between icon and text (adjust as needed) */

  text-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(54, 115, 158);
  /* color: rgb(207, 163, 234); */
}
.nav-link:hover {
  color: rgb(70, 167, 216);
}
.nav-links.visible {
  display: block;
}
.nav-links a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
}
.nav-links a:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}
#navbarNav {
  margin-bottom: 0rem;
}

  li a {
    float: left;
    display: block;
    color: rgb(25, 229, 252);
    text-align: center;
    font-family: Tahoma;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Ensure the navbar items are positioned properly under the button */
  .navbar-collapse {
    position: absolute; /*Position relative to parent container*/
    top: -20%; /* Start just below the nav button */
    left: -10px; /* Align to the left edge of the parent container */
    width: 100%; /* Take the full width of the parent container */
    z-index: 1000; /* Ensure it appears above other elements */
    padding-top: 5px; /* Add some spacing for visual appeal */
  }

  .linkBlocks {
    background-color: rgb(207, 163, 234);
    text-align: center;
    align-self: center;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(207, 163, 234);
  }

  /*BODY*/
  .contentBlock {
    background-color: rgb(20, 17, 40);
    /* background-color: rgb(109, 100, 172); */
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
  }

  /*FOOTER*/
  footer {
    background-color: rgb(207, 163, 234);
    /* background-color: rgb(31, 19, 43); */
    padding: 2rem;
    /* margin-top: 2rem; */
  }